@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Dark Mode Theme */
:root {
  --background: #181818; /* Background for Dark Retro Mode */
  --foreground: #f5f5f5; /* Text Color for Dark Retro Mode */
  --primary: #d93d3d; /* Soft Red for Dark Retro Mode */
  --secondary: #f5a3a3; /* Soft Pastel Pink for Dark Retro Mode */
  --border: #d93d3d; /* Border/Accent for Dark Retro Mode */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

.scrollable-hidden-scrollbar {
  overflow: auto;
}

.scrollable-hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Menyembunyikan scrollbar di browser berbasis Webkit */
}

.scrollable-hidden-scrollbar {
  -ms-overflow-style: none;  /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none;     /* Untuk Firefox */
}


/* Remove Switch Styles */
/* Remove any related CSS classes for switch here */

/* Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
  